:root {
  --colour-pallete-black-hsl: #000;
  --colour-pallete-black: hsl(var(--colour-pallete-black-hsl));
  --colour-pallete-white-hsl: #fff;
  --colour-pallete-white: hsl(var(--colour-pallete-white-hsl));
  --colour-pallete-red-hsl: #FF243E;
  --colour-pallete-red: hsl(var(--colour-pallete-red-hsl));
  --colour-pallete-blue-hsl: #00149B;
  --colour-pallete-blue: hsl(var(--colour-pallete-blue-hsl));
  --colour-pallete-yellow-hsl: #FFD424;
  --colour-pallete-yellow: hsl(var(--colour-pallete-yellow-hsl));
  --colour-pallete-gray-900-hsl: #19191A;
  --colour-pallete-gray-900: hsl(var(--colour-pallete-gray-900-hsl));
  --colour-pallete-gray-850-hsl: #202021;
  --colour-pallete-gray-850: hsl(var(--colour-pallete-gray-850-hsl));
  --colour-pallete-gray-800-hsl: #272728;
  --colour-pallete-gray-800: hsl(var(--colour-pallete-gray-800-hsl));
  --colour-pallete-gray-700-hsl: #343435;
  --colour-pallete-gray-700: hsl(var(--colour-pallete-gray-700-hsl));
  --colour-pallete-gray-600-hsl: #4f4f50;
  --colour-pallete-gray-600: hsl(var(--colour-pallete-gray-600-hsl));
  --colour-pallete-gray-500-hsl: #6a6a6b;
  --colour-pallete-gray-500: hsl(var(--colour-pallete-gray-500-hsl));
  --colour-pallete-gray-400-hsl: #868686;
  --colour-pallete-gray-400: hsl(var(--colour-pallete-gray-400-hsl));
  --colour-pallete-gray-300-hsl: #A1a1a1;
  --colour-pallete-gray-300: hsl(var(--colour-pallete-gray-300-hsl));
  --colour-pallete-gray-200-hsl: #bcbcbc;
  --colour-pallete-gray-200: hsl(var(--colour-pallete-gray-200-hsl));
  --colour-pallete-gray-100-hsl: #d7d7d7;
  --colour-pallete-gray-100: hsl(var(--colour-pallete-gray-100-hsl));
  --colour-pallete-gray-75-hsl: #e5e5e5;
  --colour-pallete-gray-75: hsl(var(--colour-pallete-gray-75-hsl));
  --colour-pallete-gray-50-hsl: #ededed;
  --colour-pallete-gray-50: hsl(var(--colour-pallete-gray-50-hsl));
  --colour-pallete-gray-25-hsl: #f2f2f2;
  --colour-pallete-gray-25: hsl(var(--colour-pallete-gray-25-hsl));
  --space-0: 0rem;
  --space-2: 0.125rem;
  --space-4: 0.25rem;
  --space-6: 0.375rem;
  --space-8: 0.5rem;
  --space-10: 0.625rem;
  --space-12: 0.75rem;
  --space-14: 0.875rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-28: 1.75rem;
  --space-32: 2rem;
  --space-36: 2.25rem;
  --space-40: 2.5rem;
  --space-44: 2.75rem;
  --space-48: 3rem;
  --space-56: 3.5rem;
  --space-64: 4rem;
  --space-80: 5rem;
  --space-96: 6rem;
  --space-112: 7rem;
  --space-128: 8rem;
  --space-144: 9rem;
  --space-160: 10rem;
  --space-176: 11rem;
  --space-192: 12rem;
  --space-208: 13rem;
  --space-224: 14rem;
  --space-240: 15rem;
  --space-256: 16rem;
  --space-288: 18rem;
  --space-320: 20rem;
  --space-384: 24rem;
  --border-radius-none: 0px;
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 24px;
  --border-radius-3xl: 32px;
  --border-radius-full: 999px;
  --border-width-none: 0px;
  --border-width-xs: 1px;
  --border-width-sm: 2px;
  --border-width-md: 4px;
  --border-width-xl: 8px;
  --opacity-0: 0;
  --opacity-1: 1;
  --opacity-09: 0.9;
  --opacity-06: 0.64;
  --opacity-05: 0.56;
  --opacity-04: 0.44;
  --opacity-03: 0.32;
  --opacity-02: 0.24;
  --opacity-016: 0.16;
  --opacity-01: 0.1;
  --opacity-006: 0.06;
  --font-family-sans: Sohne;
  --font-family-mono: 'Sohne Mono Test', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-weight-400: Buch;
  --font-weight-500: Kräftig;
  --font-weight-600: Halbfett;
  --line-height-none: 100%;
  --line-height-tight: 106%;
  --line-height-snug: 112%;
  --line-height-normal: 120%;
  --line-height-relaxed: 137%;
  --line-height-loose: 150%;
  --letter-spacing-tighter: -5%;
  --letter-spacing-tight: -0.5%;
  --letter-spacing-normal: 0%;
  --letter-spacing-wide: 0.5%;
  --letter-spacing-wider: 1%;
  --letter-spacing-widest: 5%;
  --text-decoration-underline: underline;
  --text-decoration-line-through: line-through;
  --text-case-none: none;
  --text-case-upper: uppercase;
  --text-case-capitalize: capitalize;
  --font-size-xs: 12;
  --font-size-sm: 14;
  --font-size-md: 16;
  --font-size-lg: 18;
  --font-size-xl: 20;
  --font-size-2xl: 24;
  --font-size-3xl: 30;
  --font-size-4xl: 36;
  --font-size-5xl: 48;
  --font-size-6xl: 60;
  --font-size-7xl: 72;
  --font-size-8xl: 96;
  --font-size-9xl: 128;
}