:root, [data-theme="light"], .light-theme {
  --color-background-hsl: var(--color-palette-gray-100-hsl);
  --color-background: hsl(var(--color-background-hsl));
  --color-primary-hsl: var(--color-palette-gray-900-hsl);
  --color-primary: hsl(var(--color-primary-hsl));
  --color-secondary-hsl: var(--color-palette-gray-500-hsl);
  --color-secondary: hsl(var(--color-secondary-hsl));
  --color-tertiary-hsl: var(--color-palette-gray-400-hsl);
  --color-tertiary: hsl(var(--color-tertiary-hsl));
  --color-subtle-hsl: var(--color-palette-gray-150-hsl);
  --color-subtle: hsl(var(--color-subtle-hsl));
  --color-smooth-hsl: var(--color-palette-gray-200-hsl);
  --color-smooth: hsl(var(--color-smooth-hsl));
  --color-offset-hsl: var(--color-palette-white-hsl);
  --color-offset: hsl(var(--color-offset-hsl));
  --color-accent-hsl: var(--color-palette-yellow-hsl);
  --color-accent: hsl(var(--color-accent-hsl));
  --color-drawing-hsl: var(--color-palette-bic-hsl);
  --color-drawing: hsl(var(--color-drawing-hsl));
}