[data-theme="yellow"], .yellow-theme {
  --background-hsl: var(--colour-pallete-yellow);
  --background: hsl(var(--background-hsl));
  --foreground-hsl: var(--colour-pallete-gray-900);
  --foreground-hsl: var(--opacity-09);
  --foreground: hsl(var(--foreground-hsl));
  --secondary-hsl: var(--colour-pallete-gray-900);
  --secondary-hsl: var(--opacity-06);
  --secondary: hsl(var(--secondary-hsl));
  --tertiary-hsl: var(--colour-pallete-gray-900);
  --tertiary-hsl: var(--opacity-04);
  --tertiary: hsl(var(--tertiary-hsl));
  --offset-hsl: var(--colour-pallete-gray-900);
  --offset-hsl: var(--opacity-006);
  --offset: hsl(var(--offset-hsl));
  --smooth-hsl: var(--colour-pallete-gray-900);
  --smooth-hsl: var(--opacity-01);
  --smooth: hsl(var(--smooth-hsl));
  --muted-hsl: var(--colour-pallete-gray-900);
  --muted-hsl: var(--opacity-02);
  --muted: hsl(var(--muted-hsl));
  --accent-hsl: var(--colour-pallete-gray-25);
  --accent: hsl(var(--accent-hsl));
  --drawing-hsl: var(--colour-pallete-gray-900);
  --drawing: hsl(var(--drawing-hsl));
  --panel-hsl: var(--colour-pallete-gray-900);
  --panel-hsl: var(--opacity-01);
  --panel: hsl(var(--panel-hsl));
  --danger-hsl: var(--colour-pallete-red);
  --danger: hsl(var(--danger-hsl));
}